@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scrollbar-width: none;
}
body {
  font-family: var(--fnt_primary);
  background-image: url(https://wallpapershome.com/images/pages/ico_h/12592.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
}
body::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: -1;
}
ol,
ul,
li {
  list-style: none;
}
a,
span {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
:root {
  --fnt_primary: "Poppins", sans-serif;
  --fnt_secodery: sans-serif;
  --clr_dark: #0f172a;
  --clr_light: #f1f5f9;
  --clr_accent: #34c7a2;
  --clr_ash: #5a5a5a;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
  --text_regular: clamp(1rem, 1.1vw + 1px, 18px);
  --text_large: clamp(1.1rem, 1.3vw + 1px, 20px);
  --xxl_header: clamp(2.5rem, 3.3vw + 1px, 70px);
  --xl_header: clamp(2.5rem, 2.5vw + 1px, 50px);
  --l_header: clamp(1.5rem, 1.5vw + 1px, 30px);
}
.pointer {
  cursor: pointer;
}
.lg-header {
  font-weight: 400;
  line-height: 110%;
  font-size: 30px;
}

#canvas {
  width: 350px;
  height: 600px;
  background-color: whitesmoke;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.288);
}

#header {
  height: 30dvh;
  width: 350px;
  background-image: url(../images/mountain-header-blue.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  padding: 1rem;
  position: fixed;
  z-index: 998;
}
.headerRight {
  width: 40%;
}
.addTaskBtn {
  font-size: 12px;
  border: none;
  background-color: #002253;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 10px;
  color: whitesmoke;
}
.taskCount {
  font-size: 20px;
  line-height: 110%;
}

.smallText {
  font-size: 10px;
}

.due {
  color: rgb(255, 83, 40);
}
.headerBorder {
  height: 5px;
  background-image: linear-gradient(to left, rgb(16, 16, 138), blue);
}

#body {
  padding: 1rem;
  margin-top: 30dvh;
}

.taskSection {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  padding: 1rem 1rem 0 1rem;
  transform: translateY(-35px);
  width: 100%;
}
.taskHeader {
  font-size: 16px;
  line-height: 110%;
}
.taskTag {
  font-size: 11px;
  line-height: 100%;
}
.taskDeadLine {
  font-size: 12px;
  line-height: 100%;
}
.taskEdit {
  bottom: 20px;
  right: 0;
}
.form-check {
  scale: 1.5 !important;
  margin-right: 10px;
  border-radius: 50%;
}
.form-check-input[type="checkbox"] {
  border: 2px solid blue;
}




#addTaskPage {
    width: 100%;
    height: 600px;
    background-color: #0f3e80;
    z-index: 999;
    transform: translateX(-100%);
    color: whitesmoke;
    transition: 0.5s ease;
}

.addTaskIconPart {
    height: 100px;
}
.centralIcon {
    padding: 1rem;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
}
.addPageInput {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 0 !important;
}
.submitTaskBtn {
    width: 100%;
    border: none;
    background-image: linear-gradient(to left, #286bc9, #8bb2e7);
    padding: 0.5rem 0;
    color: whitesmoke;
}
.btn:hover {
	background-color: transparent !important;
}
.form-select:focus {
	border-color: transparent !important;
}